.border{
    border: 10px solid rgb(0, 149, 0);
}
.padding{
    padding: 10px 0px;
}
.margin0-auto{
    margin:0 auto;
}
.padding-arti{
    padding: 10px 0px;
}
.width-95{
    width: 95%;
}
.bg-color{
    background-color:  rgb(168, 241, 152);
}
.bg-color2{
    background-color:  rgb(0, 149, 0);
}
.bg-colorsec{
    background-color:  white;
}
.padding-main{
    padding: 80px 0px;
}
.margin-top{
    margin-top: 10px;
}
.margin-bottom{
    margin-bottom: 0px 0px 10px 0px;
}
.padding-bottom{
    padding-bottom: 10px;
}